* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    color: inherit;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1140px;
}

/***************************/
header {
    background: url("../img/background.png") fixed no-repeat;
}

.header-top {
    height: 115px;
    border-bottom: 1px solid #7a7a7a;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding-top: 20px;
}
.menu-icons, .menu-items {
    display: flex;
    padding-top: 50px;
    color: white;
}

.menu-item, .menu-icon {
    margin-left: 50px;
}

.menu-item a:hover,
.menu-item a:active {
    border-bottom: 3px solid #11749e;
    width: 100%;
    transition: .3s;
    padding-bottom: 40px;
}

.menu-icon img {
    filter: invert(1);
    width: 20px;
    height: 20px;
}

#header-content h1 {
    color: #f5f5f5;
    font-weight: 600;
    font-size: 153px;
    padding-top: 275px;
    font-family: 'Gotham', sans-serif;
}

#header-content .sponsor {
    text-transform: uppercase;
    letter-spacing: 17px;
    color: #11749e;
    padding-bottom: 115px;
    font-weight: 600;
    font-size: 25px;
    padding-left: 15px;
}

#header-content .scroll {
    color: #c7c7c6;
    font-size: 13px;
    margin-bottom: 40px;
}

.scroll-nav {
    text-align: center;
    margin-bottom: 110px;
}
.scroll-nav img {
    width: 20px;
    height: 12px;
    filter: invert(1);
}
.scroll-arrow {
    border: 1px solid white;
    border-radius: 100px;
    padding: 30px;
}
/*####################*/
#about {
    background: #11749e;
    height: 735px;
}

#about img {
    filter: invert(1.5);
    width: 45px;
    height: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.icon-circle {
    border: solid #2e85aa;
    width: 133px;
    height: 133px;
    border-radius: 100px;
    background: #2e85aa;
    position: relative;
    margin: 0 auto;
    margin-top: 145px;
    margin-bottom: 20px;
}

.letter-background-w {
    position: absolute;
    font-size: 247px;
    font-family: 'Roboto', sans-serif;
    left: 43%;
    color: #fbfbfb29;
    font-weight: 600;
}

#about .about-title {
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    font-size: 37px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 165px;
}

.big-text {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Gotham', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

.small-text {
    font-size: 15px;
    font-family: 'Gotham', sans-serif;
    color: white;
    margin-bottom: 100px;
}

/*$$$$$$$$$$$$$$$$$$*/
.grey {
    background: #222222;
    color: white;
}
.date {
    margin-top: 110px;
}
.white {
    background: #f3f3f3;
    color: #222222;
}
/*****************************/
#blog {
    padding-top: 165px;
    padding-bottom: 110px;
    font-family: 'Gotham', sans-serif;
}
.letter-background-b {
    position: absolute;
    left: 43%;
    font-size: 247px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #d7d7d7;
}
.title-blog {
    font-size: 37px;
    text-transform: uppercase;
    margin-bottom: 115px;
}
.blog-titles {
    font-size: 18px;
    color: #11749e;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 30px;
}
.blog-text {
    font-size: 15px;
    letter-spacing: 1px;
    color: #898989;
}

/*#################*/
#write {
    background: #11749e;
    height: 355px;
    padding-top: 110px;
    padding-bottom: 130px;
}
#write img {
    width: 70px;
    height: 70px;
    filter: invert(1.5);
}
#write p {
    color: #f4f4f4;
    font-family: 'Gotham', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

/*##########################*/
#production {
    background: url("../img/production-img.png") fixed no-repeat;
    padding-top: 120px;
    padding-bottom: 100px;
    margin-bottom: 135px;
    color: #ffffff;
}
.production-title {
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.sub-title-text {
    font-size: 15px;
    font-family: 'Gotham', sans-serif;
    color: #d0d0d0;
    margin-bottom: 70px;
    letter-spacing: 1px;
}

.service p {
    text-transform: uppercase;
    font-family: 'Gotham', sans-serif;
    font-size: 15px;
    font-weight: 500;
    background: #11749e;
    height: 40px;
    padding: 10px 0 0 20px;
}

.service .first {
    width: 370px;
}

.service .second {
    width: 400px;
}

.service .third {
    width: 430px;
}

/*@@@@@@@@@@@@@@@@@@@@@*/
.letter-background-t {
    position: absolute;
    font-size: 247px;
    left: 43%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #d7d7d7;
}
#team h1 {
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    font-size: 37px;
    position: relative;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 140px;
}

.sub-title {
    font-family: 'Gotham', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #222222;
    margin-bottom: 70px;
}

.box-item-description {
    position: relative;
    width: 215px;
    height: 75px;
    background: white;
    bottom: 55px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.box-item-description h6 {
    color: #11749e;
    font-weight: 500;
    font-family: 'Gotham', sans-serif;
    font-size: 20px;
    padding-top: 20px;
}
.box-item-description p {
    font-family: 'Gotham', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

/*#####################*/
#contact {
    background: url("../img/contact-back-img.png") fixed no-repeat;
    padding-top: 225px;
    margin-top: 90px;
}
.letter-background-c {
    position: absolute;
    font-size: 247px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    left: 43%;
}
#contact h1 {
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    font-size: 37px;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
}
.form-input {
    width: 370px;
    height: 50px;
    border: 1px solid #ffffff;
    background: transparent;
    margin-bottom: 40px;
    margin-top: 150px;
    padding: 20px;
}
.message {
    width: 100%;
    height: 145px;
    border: 1px solid #ffffff;
    background: transparent;
    margin-bottom: 45px;
    padding: 20px 0 110px 20px;
}
.btn {
    width: 230px;
    height: 65px;
    border: none;
    border-radius: 0;
    margin-bottom: 100px;
    background: #11749e;
}
.btn:hover {
    transition: .3s;
    background: #d57737;
}
/*#######################*/
footer {
    background: #222222;
    height: 113px;
    padding-top: 50px;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #ffffff;
    padding-top: 5px;
}